# Data
safetensors
datasets
huggingface_hub[cli]
huggingface_hub[hf_xet]
hf_transfer

# Compute
lpips
accelerate
transformers
diffusers
einops
schedulefree

# Metrics & Logs
torchmetrics
torcheval
torch-fidelity
dreamsim
scikit-image
tensorboard
tqdm
matplotlib

# Configs
PyYAML
omegaconf
hydra-core
hydra-colorlog
